@import url(normalize.css);
@import url(reset.css);
@import url(fontsans.css);

body{
    background-color: #ebeef8;
}

.bannerImage{
    background-image: url('../images/banner.webp');
    margin-top:22px;
    height: 180px;
    padding: 20px;
    border: 5px solid #ffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.bigTitle {
    font-size: 44px;
    color:white;
    text-align: center;
    margin-top: 33px;

}
.infoDiv{
    padding: 20px;
    background-color: #fff;
    margin-top: 5px;
}
.serviceImage{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
p.information {
    text-align: justify;
    text-justify: inter-word;
}
.footer{
    background-color: #fff;
    height: 40px;
    text-align: center;
    font-size: 16px;
}